.App {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  background-color: #1f1e1e;
}
.container {
  display: grid;
  grid-template-rows: 100px auto auto;
  grid-template-columns: auto auto auto;
}

.navigationLinks {
  color: grey;
  font-size: 1em;
  text-decoration: none;
  grid-row: 2/2;
  grid-column: 2/3;
  /*text-align: center;*/

}
a {
  text-decoration: none;
  color: lightgrey;
}

li {
  display: inline;
}

.linkContent {
  grid-row: 3/3;
  grid-column: 2/2;
  background-image: linear-gradient(to bottom right, violet, darkviolet);
  border-radius: 20px;
  text-align: center;
}

.buttons {
  background-color: darkviolet;
  border: none;
  border-radius: 10px;
  color: white;
  height: 20px;
  width: 100px;
  margin-top: 1em;
  margin-bottom: 2em;
}

input {
  margin-top: 1em;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  min-width: 15em;
  min-height: 3em;
  font-size: 0.8em;
  text-align: center;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.review {
  color: white;
}

.title {
  color: white;
  font-weight: bolder;
}

.errorMessage {
  font-size: 0.6em;
  color:white;
}

.active {
  color: cornflowerblue;
  font-weight: bold;
}





